# Python virtual env
backend/.venv/
# Python cache
__pycache__/
*.pyc
# Secrets and tokens
backend/credentials.json
backend/token.json
backend/.env
.env
credentials.json
# Node
node_modules/


# Clear cache
backend/reset_test_data.py
backend/llm_cache